<h1><%= name %></h1>

<a class="btn btn-default" href="#<%= routerId %>" id="back-to-map"><span class="glyphicon glyphicon-arrow-left"/>&nbsp;&nbsp;Back to map</a>

<div class="form-inline">
  Transfer from <select class="form-control pattern" id="fromPattern"></select> to <select class="form-control pattern" id="toPattern"></select>.
</div>

<h2>Transfer time</h2>
<div class="clearfix">
  <div id="xfer-histogram"></div>
</div>

<h2>Time of day</h2>
<div class="clearfix">
  <div id="time-of-day-histogram"></div>
</div>
